@model List<PapiroMVC.Models.Customer>
@using MvcContrib.UI.Grid 

@{
    ViewBag.Title = "PapiroStar Software Specifico per Arti Grafiche";        
    string Controller = ViewBag.Controller;
    }

<h2>Anagrafica Clienti/Fornitori</h2>
   
    @Html.Grid(Model).Columns(column => 
        {
          column.For(x => x.CodCustomerSupplier).Named("Codice"); 
          column.For(x => x.BusinessName).Named("Ragione Sociale");
          column.For(x => x.TaxCode).Named("Cod. Fiscale");
          column.For(x => x.VatNumber).Named("Partita IVA");

          column.For(x => Html.ActionLink("Select me",
                                          "CustomerOrderSelected",
                                          Controller,
                                          new { codCustomerSupplier = x.CodCustomerSupplier },
                                          null))
            .InsertAt(0)
            .Named("Select me");

        })    
