@model PapiroMVC.Models.RollPrintableArticleAutoChanges

<div id='rollprintablearticle'>
    @Html.Partial("_ListRollPrintableArticle", Model)
</div>

<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>

@section footer {
    @Html.Partial("_footer")
}