
<footer>
    <div class="content-wrapper">
        <div class="footerleft1">
            <ul class="menuFooter">
                <li><h3>Clienti Fornitori</h3></li>
                <li>@Html.ActionLink("Elenco","Index",new {area = "DataBase"},null)</li>
                <li>@Html.ActionLink("Nuovo Cliente","CreateCustomer",new {area = "DataBase"}, new {Title = "Inserimento di un nuovo cliente in anagrafica"})</li>
                <li>@Html.ActionLink("Nuovo Fornitore","CreateSupplier",new {area = "DataBase"}, new {Title = "Inserimento di un nuovo fornitore in anagrafica"})</li>
                    
                <li><h3>Materiali</h3></li> 
                <li>etc...</li>
                <li>etc...</li>
                <li>etc...</li>
            </ul>    
        </div>
        <div class="footerleft2">
            <ul class="footermenuFooter">
                <li><h3>seconda colonna</h3></li>
                <li>etc...</li>
                <li>etc...</li>
                <li>etc...</li>
                    
                <li><h3>Materiali</h3></li> 
                <li>etc...</li>
                <li>etc...</li>
                <li>etc...</li>
            </ul>    
        </div>
        <div class="footerright">
            <ul class="menuFooter">
                <li><h3>terza</h3></li>
                <li>etc...</li>
                <li>etc...</li>
                <li>etc...</li>
                    
                <li><h3>Materiali</h3></li> 
                <li>etc...</li>
                <li>etc...</li>
                <li>etc...</li>
            </ul>    
        </div> 
    </div>
           
</footer>
