<div id="msgProcessOk"style="display:none;">
    <h2>Processo completato...cliccami per nascondermi</h2>
</div>

<div id="msgProcessError"style="display:none;">
    <h2>Errore...cliccami per nascondermi</h2>
</div>

<script type="text/javascript">
    $("#msgProcessOk").click(function () {
        document.getElementById("msgProcessOk").style.display = 'none';
    });

    $("#msgProcessError").click(function () {
        document.getElementById("msgProcessError").style.display = 'none';
    });
</script>

    