@using Mvc.HtmlHelpers
@using MvcContrib.UI.Grid
@using PapiroMVC.Validation

@{
    string strings = "~/Areas/Working/Views/Document/Strings";
}

@(Html.jqGrid("estimateGrid")

    .setCaption((string)HttpContext.GetLocalResourceObject(strings, "TitleIndex"))
    .setCaption("")

    .setMultiSelect(true)

        // columns
    .addColumn(new Column("Id")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "OperationsCaption"))
        .setWidth(25)
        .setCustomFormatter("editEstimate")
        .setSortable(false))
    .addColumn(new Column("Customer")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "Customer"))
        .setWidth(50)
        .setSortable(true))
    .addColumn(new Column("EstimateNumber")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "EstimateNumber"))
        .setWidth(15)
        .setSortable(true)
        .setFirstSortOrder(SortOrder.desc)
        .setAlign(Align.right))
    .addColumn(new Column("DocumentName")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "DocumentName"))
        .setWidth(100)
        .setSearch(true)
        .setSortable(false))

        .setUrl(Url.Action("EstimateList", "Document"))

    .setHeight(300)
    .setRowNum(10)
    .setRowList(new int[] { 10, 20, 50, 100 })
    .setPager("estimateGridAccountPager")
    .setPrint(true)
    .setLoadText("")
    .setAutoWidth(true)
    .setSearchToolbar(true)

    // error handler
    .onLoadError((string)HttpContext.GetLocalResourceObject(strings, "ErrorLoading"))

    // render the html
    .Render()
)
<br />

<div>

    <button class="btn btn-danger" type="button" id="delete">
        <i class="icon-trash bigger-125"></i>
        @HttpContext.GetLocalResourceObject(strings, "DeleteCommand")
        <span class="badge badge-transparent">
            <i class="light-red icon-asterisk"></i>
        </span>
    </button>

</div>

<div id="dialog-confirm" class="hide">

    @Html.T(strings,"DeleteMessageEstimate")

</div>
