@model PapiroMVC.Models.NewProductCommand
@using PapiroMVC.Validation

@{
    string strings = "~/Areas/Working/Views/Document/Strings";
}

<div id="status" class="well no-padding-right">

    <h4 class="green smaller lighter">
        @Html.T(strings, "NewEstimate")
    </h4>
    @Scripts.Render("~/bundles/autocomplete")

    @using (Html.BeginForm("Action", "Document", FormMethod.Post, new { @class = "form-horizontal", @id = "newProductForm" }))
    {
        @Html.AlgolaAutocompleteFor(model => model.NewProduct, "NewProductAutoComplete", "Document");
    }

</div>


<script>

    $(document).ready(

    function () {

        $("#NewProduct").keypress(function (event) {
            if (event.which == 13) {
                event.preventDefault();

                showProcessingMsg();

                var datastring = $("#newProductForm").serialize();

                //at firt time save estimate or
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("NewProductNewEstimate", "Document"))",
                    data: datastring,
                    success: function (data) {
                        if (data.redirectUrl) {
                            hideProcessingMsg();
                            // if the server returned a JSON object containing an url
                            // property we redirect the browser to that url
                            window.location.href = data.redirectUrl;
                        } else {
                            if (data.error) {
                                $('#NewProduct').val("");
                            }
                        }

                        return;
                    },
                    error: function (xhr) {
                        hideProcessingMsg();
                        alert('error');
                        $('#status2').html(xhr);
                    }
                });



                return false;
            }
        });

    });

</script>
