@using PapiroMVC.Validation
@using PapiroMVC.Models
@model PapiroMVC.Models.PrintingFlatRollCostDetail
@{
}

avviamenti 
@Html.DisplayFor(model=>model.Starts)
<div></div>
cambi rotolo
@Html.DisplayFor(model=>model.RollChanges)
