@using PapiroMVC.Validation
@using PapiroMVC.Models
@model PapiroMVC.Models.PrintingCostDetail

@{
    string strings = "~/Areas/Working/Views/Document/Strings";

    var newOption = new ProductPartPrintRollOption();
    newOption.CodProductPartTask = Model.TaskCost.CodProductPartTask;
}


<form action="/" id="addOption">
    @Html.EditorFor(model => newOption, "ProductPartPrintRollOption")
</form>

