@using Mvc.HtmlHelpers
@using MvcContrib.UI.Grid
@using PapiroMVC.Validation

<div id='documentList'>
    @Html.Partial("_ListDocument")
</div>

<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>