@using PapiroMVC.Validation

@{
    string strings = "~/Areas/Working/Views/Document/Strings";
    //Prendo il titolo dal menù
    ViewBag.Title = Html.T(strings, "EditCost");

}


@section title{
    @Html.T(strings, "Document")
}

@section description{
    @Html.T(strings, "EditCostDesc")
}


<h2> funzione non ancora implementata. </h2>

