@using Mvc.HtmlHelpers
@using MvcContrib.UI.Grid
@using PapiroMVC.Validation

@{
    string strings = "~/Areas/DataBase/Views/TaskExecutor/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "TitleLithoSheetIndex");
}

<h2>@ViewBag.Title</h2>
<br />

@(Html.jqGrid("LithoSheeteGrid")
    
    .setCaption((string)HttpContext.GetLocalResourceObject(strings, "LithoSheetGridCaption"))
    .setMultiSelect(true)
        // columns
    .addColumn(new Column("Id")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "OperationsCaption"))
        .setWidth(40)
        .setCustomFormatter("editRow")
        .setSortable(false))
    .addColumn(new Column("CodExecutor")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "CodExecutorCaption"))
        .setWidth(20)
        .setSortable(true))

    .addColumn(new Column("TaskExecutorName")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "TaskExecutorNameCaption"))        
        .setWidth(100)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("FormatMax")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "FormatMaxCaption"))
        .setWidth(45)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("PrintingUnit")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "PrintingUnitCaption"))
        .setWidth(45)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("SheetwiseAfterPrintingUnit")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "SheetwiseAfterPrintingUnitCaption"))
        .setWidth(45)
        .setSortable(true)
        .setSearch(true))


    .setUrl(Url.Action("LithoSheetList", "TaskExecutor"))

    .setHeight(300)
    .setRowNum(20)
    .setRowList(new int[] { 10, 20, 50, 100 })
    .setPager("CustomGridAccountPager")
    .setPrint(true)
    .setLoadText("")
    .setAutoWidth(true)
    .setSearchToolbar(true)
    .setViewRecords(true)

    // error handler
    .onLoadError((string)HttpContext.GetLocalResourceObject(strings, "ErrorLoading"))

    // render the html
    .Render()
)

@Html.ActionLink((string)HttpContext.GetLocalResourceObject(strings, "CreateLithoSheet"), "CreateLithoSheet")