@using PapiroMVC.Validation
@model PapiroMVC.Models.Plotter

@{
    string strings = "~/Areas/DataBase/Views/TaskExecutor/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "EditingPlotterTitle") + @Model.TaskExecutorName;
}
<h2>@ViewBag.Title</h2>

@Html.Partial("_EditAndCreatePlotter", Model)


@section breadcrumb {

}