@using PapiroMVC.Validation
@model PapiroMVC.Models.DigitalSheet

@{
    string strings = "~/Areas/DataBase/Views/TaskExecutor/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "EditingDigitalSheetTitle") + @Model.TaskExecutorName;
}
<h2>@ViewBag.Title</h2>

@Html.Partial("_EditAndCreateDigitalSheet", Model)


@section breadcrumb {

}