@using PapiroMVC.Validation
@model PapiroMVC.Models.LithoSheet

@{
    string strings = "~/Areas/DataBase/Views/TaskExecutor/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "EditingLithoSheetTitle") + @Model.TaskExecutorName;
}
<h2>@ViewBag.Title</h2>

@Html.Partial("_EditAndCreateLithoSheet", Model)


@section footer {
    @Html.Partial("_footer")
}