<div id='digitalSheet'>
    <!-- pass RollPrintableArticleAutoChenges is used to can help html filed with facilities -->
    @Html.Partial("_ListDigitalSheet")
</div>

<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>

@section footer {
    @Html.Partial("_footer")
}