@using Mvc.HtmlHelpers
@using MvcContrib.UI.Grid
@using PapiroMVC.Validation

@{
    string strings = "~/Areas/DataBase/Views/TaskExecutor/Strings";
}

<div id='prePostPress'>
    @Html.Partial("_ListPrePostPress")
</div>

<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>

@section footer {
    @Html.Partial("_footer")
}