@using Mvc.HtmlHelpers

@using PapiroMVC.Validation

@{
    string strings = "~/Areas/DataBase/Views/TaskExecutor/Strings";
    ViewBag.Desc = (string)HttpContext.GetLocalResourceObject(strings, "OptionTypeOfSerigraphy");
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "TitleSerigraphyIndex");


}


<div id='flexo'>
    <!-- pass RollPrintableArticleAutoChenges is used to can help html filed with facilities -->
    @Html.Partial("_ListTypeOfTaskSerigraphy")
</div>

<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>


@section breadcrumb {

}

@section title{
    @ViewBag.Title
}

@section description{
    @ViewBag.Desc
}

@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
    <script src="~/Scripts/jqgridHelper.js"></script>

}

@section specificPluginScript {
    <script src="~/Content/acetheme/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
}

<script>
    $(function () {        
        document.querySelector("#SerigraphySlidebar").className = "active open";
        document.querySelector("#SerigraphyOptionSlidebar").className = "active";
    });
</script>