<script type="text/javascript">

    var target = null;
    var spinner = null;

    $(document).ready(function () {

        /*
        var opts = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 3, // The line thickness
            radius: 0, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 64, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: 'auto', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
        };

        target = document.getElementById('main-container');
        spinner = new Spinner(opts).spin(target);

        */
        //eventually stop spinner
        hideProcessingMsg();


    });

    $("a").click(function (event) {

        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (elt /*, from*/) {
                var len = this.length >>> 0;

                var from = Number(arguments[1]) || 0;
                from = (from < 0)
                     ? Math.ceil(from)
                     : Math.floor(from);
                if (from < 0)
                    from += len;

                for (; from < len; from++) {
                    if (from in this &&
                        this[from] === elt)
                        return from;
                }
                return -1;
            };
        }


        var addressValue = $(this).attr("href");
        if (addressValue.indexOf("#") == -1)
            showProcessingMsg();
    });

    function showProcessingMsg() {
    //    alert('pronti');
        clearValidationErrors();
    }

    function hideProcessingMsg() {
        //spinner.stop();
        //        $('#loadingIndicator').hide();
    }


    function clearValidationErrors() {
        $('.validation-summary-errors').html('');
        $('.input-validation-error').removeClass('input-validation-error');
        $('.field-validation-error').remove();
    }

    function OnSuccess(result) {
        if (result.redirectUrl) {
            hideProcessingMsg();
            // if the server returned a JSON object containing an url
            // property we redirect the browser to that url
            window.location.href = result.redirectUrl;
        }
    }

    function unblockPage() {
        // Check if the timer has run yet, and if it hasn't, cancel it
        if ($("#divBlockPage").length > 0) {
            document.body.style.cursor = "default";
            $.unblockUI();
            hideProcessingMsg();

        }
        else {
            clearTimeout(blockTimer);
        }
    }

    // Blocks page UI.
    function blockPage() {
        alert("aoaoao");
        hideProcessingMsg();
        //            document.body.style.cursor = "wait";
        var loadingMessage = '<div id="divBlockPage" style="padding-top:30px;min-height:75px;font-weight:bold;font-size:12pt;"><img align="absmiddle" src="../Images/ajax-loader.gif" /> Please wait...</div>';
        $.blockUI({ centerX: true, centerY: true, css: { backgroundColor: '#ebebeb', color: '#000' }, message: loadingMessage });
    }

</script>

