@using PapiroMVC.Validation
@using PapiroMVC.Models

@{
    string strings = "~/Views/Shared/Strings";


    //Load menu product
    Html.Action("LoadMenuProduct", "Product", new { area = "Working" });
    List<MenuProduct> menuProd = (List<MenuProduct>)TempData["MenuProd"];//ViewBag.MenuProd;
    var categories = menuProd != null ? menuProd.Select(x => new MyStruct { CodCategory = x.CodCategory, IndexOfCategory = x.IndexOfCategory.ToString() }).Distinct().OrderBy(y => y.IndexOfCategory).ToList() : null;

    List<MenuProduct> selectedMenuProd;
    
}
<li id="newEstimateSlidebar">
    @Html.ActionLinkImageSpan(Html.T(strings, "CreateEstimateMenu"), "CreateEstimate", "Document", new { area = "Working" }, "icon-dashboard", "menu-text")
</li>

<li id="lastEstimateSlidebar">
    @Html.ActionLinkImageSpan(Html.T(strings, "LastEstimateMenu"), "EditLastEstimate", "Document", new { area = "Working" }, "icon-dashboard", "menu-text")
</li>
