.menuJq, .menuJq ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;   
    z-index:2;
    line-height: 2em;
}
.menuJq a
{
    text-decoration: none;
}
.menuJq > li
{
 /*   margin-left: 15px; */
    list-style-image: none;
    list-style-type: none;
}

.menuJq > li > a
{
    padding: 0px 10px;
    margin: 0;
    width: 100%;
    text-decoration: none;
    color: #838383;
}
div.box
{
    position: absolute;
    z-index: 2;
    background-color: #838383;
    left: 0;
    top: 0;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-box-shadow: 2px 2px 5px #1C0000;
    -webkit-box-shadow: 2px 2px 5px #1C0000;
    box-shadow: 2px 2px 5px #1C0000;

}
li.pull-down
{
    padding-right:6px;
    }
li.pull-down > a
{
    background-image: url('../Images/darrow.png');
    background-position: 96% 75%;
    background-repeat: no-repeat;
    padding-right: 20px;
}
li.right-menuJq > a
{
    background-image: url('../Images/rarrow.png');
    background-position: 97% 45%;
    background-repeat: no-repeat;
}
.menuJq a.selected
{
    background-color: #838383;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-box-shadow: 2px 2px 5px #1C0000;
    -webkit-box-shadow: 2px 2px 5px #1C0000;
    box-shadow: 2px 2px 5px #1C0000;

}
.menuJq li
{
    float: left;
    position: relative;
}

.menuJq ul
{
    position: absolute;
    display: none;
    width: 200px;
    top: 2em; /*padding-right: 10px;*/
    background-color: #838383; /*-moz-opacity: .50;     filter: alpha(opacity=50);     opacity: .50;*/
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-box-shadow: 2px 2px 5px #1C0000;
    -webkit-box-shadow: 2px 2px 5px #1C0000;
    box-shadow: 2px 2px 5px #1C0000;
}

.menuJq li ul a
{
    width: 180px;
    height: auto;
    float: left;
    color: #FFFEFD;
    padding: 0 10px;
}
.menuJq li ul li
{
    padding: 0;
    margin: 0;
}
.menuJq ul ul
{
    top: auto;
}

.menuJq li ul ul
{
    left: 198px; /*margin: 0px 0 0 10px;*/
}
.menuJq-item-selected > a
{
        display: block;
    background-color: #FFFEFD;
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    opacity: .50;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-box-shadow: 2px 2px 5px #1C0000;
    -webkit-box-shadow: 2px 2px 5px #1C0000;
    box-shadow: 2px 2px 5px #1C0000;
}
.menuJq-item-selected > a:hover
{
    display: block;
    color: #257E84 !important;
    border-radius: 0px 0px 0px 0px  !important;
    -moz-border-radius: 0px 0px 0px 0px  !important;
    -webkit-border-radius: 0px 0px 0px 0px  !important;

}

