
/***** Normal Button Style *****/
.tbutton {

    background-color:transparent !important;
	border: none;
	cursor: pointer;
	display: inline-block;
	text-align: left;
	text-decoration: none;
    line-height:0.9em;
    font-family: "Lucida Grande",Verdana,Corbel,"Bitstream Vera Sans","DejaVu Sans",sans-serif;
    font-weight:normal;
    color:#008595 !important;
    max-height:12px;
}
    

/***** Hovered Button *****/
.tbutton:hover {
    text-decoration:underline;
    color:#008595;
 }

/***** Icon Images *****/
.tbutton.cancel {
    background-image: url('../Images/png/24x24/arrow_left.png'); 
}

.tbutton.save {
    background-image: url('../Images/png/24x24/save.png');
    text-indent: 24px;
    background-position: 6px center;
    background-repeat: no-repeat; 
    background-size:contain;
}

.tbutton.smalledit {
    background-image: url('../Images/png/16x16/edit.png');
    text-indent: 24px;
    background-position: 6px center;
    background-repeat: no-repeat; 
    background-size:contain;
}

.tbutton.smalladd {
    background-image: url('../Images/png/16x16/add.png');
    text-indent: 24px;
    background-position: 6px center;
    background-repeat: no-repeat; 
    background-size:contain;
}

.tbutton.smalldelete {
    background-image: url('../Images/png/16x16/delete.png');
    text-indent: 24px;
    background-position: 6px center;
    background-repeat: no-repeat; 
    background-size:contain;
}

.tbutton.smalltool {
    background-image: url('../Images/png/16x16/tools.png');
    text-indent: 24px;
    background-position: 6px center;
    background-repeat: no-repeat; 
    background-size:contain;
}

.tbutton.smallcost {
    background-image: url('../Images/png/16x16/dollar.png');
    text-indent: 24px;
    background-position: 6px center;
    background-repeat: no-repeat; 
    background-size:contain;    
}

.tbutton.smallcostOnTime {
    background-image: url('../Images/png/16x16/clock.png');
    text-indent: 24px;
    background-position: 6px center;
    background-repeat: no-repeat; 
    background-size:contain;    
}

.tbutton.smallcostOnRun {
    background-image: url('../Images/png/16x16/calculator.png');
    text-indent: 24px;
    background-position: 6px center;
    background-repeat: no-repeat; 
    background-size:contain;    
}


.tbutton.smallcostOnMq {
    background-image: url('../Images/png/16x16/calculator.png');
    text-indent: 24px;
    background-position: 6px center;
    background-repeat: no-repeat; 
    background-size:contain;    
}

    .tbutton.error {
    color:red !important;
    }

.tbutton.smallbase {
    background-image: url('../Images/png/16x16/mail.png');
    text-indent: 24px;
    background-position: 6px center;
    background-repeat: no-repeat; 
    background-size:contain;
}

/***** Icon *****/
.tbutton.icon {
text-indent: 26px;
background-position: 6px center;
background-repeat: no-repeat; 
background-size:contain;
}    
 
