<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbEntities" connectionString="metadata=res://*/Model.ModelTest.csdl|res://*/Model.ModelTest.ssdl|res://*/Model.ModelTest.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>