@using PapiroMVC.Validation
@{
    string strings = "~/Areas/Account/Views/Account/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "TitleConfirmation");               
}


<div class="space-6"></div>
<div class="alert alert-info">
    <i class="icon-hand-right"></i>
    @Html.T(strings, "ConfirmationMessage")
    <button class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
    </button>
</div>

@section title{
    @Html.T(strings, "Register")
}

@section description{
    @Html.T(strings, "TitleConfirmation")
}


@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
}

@section specificPluginScript {
    <script src="~/Content/acetheme/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jquery.ui.touch-punch.min.js"></script>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
