@using PapiroMVC.Validation
@{
    string strings = "~/Areas/Account/Views/Account/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "TitleConfirmation");               
}

<h2>@ViewBag.Title</h2>
<br />
<p class="message-info">
    @Html.T(strings, "ConfirmationMessage").
</p>
