@using PapiroMVC.Validation
@model PapiroMVC.Models.ProfileViewModel

@{
    string strings = "~/Areas/Account/Views/Account/Strings";
    ViewBag.Title = Html.T(strings, "ConfirmEditProfileTitle");
    
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2></h2>
</hgroup>


@Html.Partial("_EditProfile", Model)
