@using PapiroMVC.Validation
@model PapiroMVC.Models.RecoveryPasswordModel

@{
    string strings = "~/Areas/Account/Views/Account/Strings";
    ViewBag.Title = Html.T(strings,"RecoveryPasswordTitle");
    
    
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2></h2>
</hgroup>


@Html.Partial("_RecoveryPassword", Model)
