@model System.Web.Mvc.HandleErrorInfo
@using PapiroMVC.Validation


@{
    string strings = "~/Areas/Working/Views/Document/Strings";
}


@section title{
    Errore
}

@section description{
   questo è un errore generico
}


<h2>questo è imbarazzante per noi</h2>
<div class="space-20"></div>
Il log dell'errore aiuterà i nostri tecnici a risolverlo al più presto