@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Errore durante una richiesta ad una risorsa non più disponibile";
}

@section title{
    Errore
}

@section description{
    risorsa non disponibile
}

<h2>Possibili cause</h2>
<ul>
    <li>
        Si è cercato di accedere ad una risorsa rimossa o non più disponibile
    </li>
</ul>

<div class="vspace-12"></div>
Questo errore è stato registrato nel log dell'applicazione e comunicato allo staff.