@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Errore durante una richiesta ad una funzione non ancora implementata";
}


@section title{
    Errore
}

@section description{
    funzione non ancora implementata
}

<h2>Possibili cause</h2>
<ul>
    <li>
        Si è cercato di usare una sezione o parte del gestionale non ancora implementata
    </li>
</ul>

<div class="vspace-12"></div>
Stiamo lavorando per assicurare che questa funzione sia al più presto disponibile.
Questo errore è stato registrato nel log dell'applicazione e comunicato allo staff.