@using PapiroMVC.Validation
@model PapiroMVC.Models.RollPrintableArticleViewModel

@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "CreateRollPrintableArticle");
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_EditAndCreateRollPrintableArticle", Model)


@section breadcrumb {

}