@using PapiroMVC.Validation
@model PapiroMVC.Models.SheetPrintableArticleViewModel

@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "EditingArticleTitle") + @Model.Article.ArticleName;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_EditAndCreateSheetPrintableArticle", Model)


@section footer {
    @Html.Partial("_footer")
}