@using PapiroMVC.Validation
@model PapiroMVC.Models.RigidPrintableArticleAutoChanges

@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
    ViewBag.MetaTitle = Html.T(strings, "MetaTitleRigid");
}

@section title{
    @Html.T(strings, "Articles")
}

@section description{
    @Html.T(strings, "RigidPrintableArticleGridCaption")
}

<div id='rollprintablearticle'>
    @Html.Partial("_ListRigidPrintableArticle", Model)
</div>

<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>


@section breadcrumb {

}


@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
}

@section specificPluginScript {

    <script src="~/Content/acetheme/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="~/Content/acetheme/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jqgridHelper.js"></script>

}


<script>
    $(function () {        
        document.getElementById("databaseSlidebar").className = "active open";
        document.getElementById("rigidSlidebar").className = "active";
    });
</script>