@using PapiroMVC.Validation
@*model PapiroMVC.Models.DieAutoChanges*@

@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
    ViewBag.MetaTitle = Html.T(strings, "MetaTitleRigid");
}

@section title{
    @Html.T(strings, "ArticlesDie")
}

@section description{
    @Html.T(strings, "DieGridCaption")
}

<div id='rollprintablearticle'>
    @Html.Partial("_ListDie")
</div>


@*
    @using (Html.BeginForm("ExcelDie", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" value="OK" />
    }

    @using (Html.BeginForm("ExcelDie2", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="submit" value="OK2" />
        }*@


<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>


@section breadcrumb {

}


@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/datepicker.css" />

    <style type="text/css">
        html, body {
            font-size: 75%;
        }

        .ui-jqgrid tr.jqgrow td {
            padding: 2px,2px !important;
        }
    </style>


}

@section specificPluginScript {


    <script src="~/Content/acetheme/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="~/Content/acetheme/assets/js/jquery-ui.min.js"></script>

    <script src="~/Scripts/jqgridHelper.js"></script>

}


<script>
    $(function () {
        document.getElementById("noPrintableSlidebar").className = "active open";
        //  document.getElementById("noPrintableSlidebar").className = "active";
    });
</script>