@model PapiroMVC.Models.SheetPrintableArticleAutoChanges

<div id='sheetprintablearticle'>
    @Html.Partial("_ListSheetPrintableArticle", Model)
</div>

<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>

@section breadcrumb {

}

@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />
}

@section specificPluginScript {
    <script src="~/Content/acetheme/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jquery.ui.touch-punch.min.js"></script>
}
