@model PapiroMVC.Models.ArticleAutoChangesViewModel


<div id='sheetprintablearticle'>
    @Html.Partial("_ListSheetPrintableArticle", Model.SheetPrintableArticleAutoChanges)
</div>

<!--
<div id='rollprintablearticle'>
    Html.Partial("_ListRollPrintableArticle", Model.RollPrintableArticleAutoChanges)
</div>
-->


<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>


@section breadcrumb {

}