@model PapiroMVC.Models.ArticleAutoChangesViewModel

<!--
<div id='sheetprintablearticle'>
    Html.Partial("_ListSheetPrintableArticle", Model)
</div>

    -->

<div id='rollprintablearticle'>
    <!-- pass RollPrintableArticleAutoChenges is used to can help html filed with facilities -->
    @Html.Partial("_ListRollPrintableArticle", Model.RollPrintableArticleAutoChanges)
</div>

<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>


@section footer {
    @Html.Partial("_footer")
}