
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script type="text/javascript">

        function OnBeginAjax() {

            var item = $("#spanBegin");
            item.text("Begin Request Fired!");

        }

        function OnCompleteAjax() {
            var item = $("#spanComplete");
            item.text("Complete Request Fired!");
        }
    </script>

    <div id="spinner_container"> 
        <img id="spinner" src="@Url.Content("~/content/ajaxspinner.gif")" style="display: none;"/>
    </div>

    <br />
    <br />

    <span id="spanBegin">Begin Request.....</span><br/>
    <span id="spanComplete">Complete Request.....</span>


        @Ajax.ActionLink("[English]", "ChangeCulture", "Home", routeValues: new { area = "", id = "en-US" }, ajaxOptions: new AjaxOptions{
                   UpdateTargetId = "containerDiv",
                   LoadingElementId = "spinner",
                   LoadingElementDuration = 100000,
                   OnBegin = "OnBeginAjax",
                   OnComplete = "OnCompleteAjax"
               })
