@model PapiroMVC.Areas.DataBase.ViewModels.CustomerSupplierIndexViewModel

<div id="menucustomerlist">            

    <div>   
        @{ Html.RenderPartial("_SearchingBusinessName",Model.Option); }
    </div>

    <div>
        @{ Html.RenderPartial("_UploadCustomers"); }
    </div>
</div>
<div id='customersupplierlist'>
    @{ Html.RenderPartial("_List", Model.List); }
</div>

@section footer {
    @{ Html.RenderPartial("_footer"); }
}