@using PapiroMVC.Validation
@model PapiroMVC.Models.Customer


@{    
    string strings = "~/Areas/DataBase/Views/CustomerSupplier/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "TitleCreateCustomer");
    }

<h2>@ViewBag.Title</h2>


@Html.Partial("_EditAndCreateCustomer", Model)


@section footer {
    @Html.Partial("_footer")
}