@using PapiroMVC.Validation
@model PapiroMVC.Models.Supplier

@{
    string strings = "~/Areas/DataBase/Views/CustomerSupplier/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "TitleEditSupplier");
}

<h2>@ViewBag.Title</h2>


@Html.Partial("_EditAndCreateSupplier", Model)


@section breadcrumb {

}