
@using PapiroMVC.Validation
@using Mvc.HtmlHelpers
@model PapiroMVC.Models.CustomerSupplier

@{
    string strings = "~/Areas/DataBase/Views/CustomerSupplier/Strings";
    ViewBag.MetaTitle = Html.T(strings, "MetaTitleBase");
}

<div id='customersupplierbase'>
    @Html.Partial("_ListBase", Model)
</div>


@section breadcrumb {

}

@section title{
    @Html.T(strings, "CustomerSuppliers") 
}

@section description{
    @Html.T(strings, "TitleIndexBase") @Html.DisplayFor(o => o.BusinessName)
}


@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
    <script src="~/Scripts/jqgridHelper.js"></script>

}

@section specificPluginScript {
    <script src="~/Content/acetheme/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
}


<script>
    $(function () {
        document.getElementById("customerSidebar").className = "active open";
    });
</script>
