@model PapiroMVC.Areas.DataBase.ViewModels.CustomerSupplierIndexViewModel

<div id='customersupplierlist'>
    @Html.Partial("_List", Model.List)
</div>


@section footer {
    @Html.Partial("_footer")
}