@using MvcContrib.UI.Grid 
@using PapiroMVC.Validation
@using Mvc.HtmlHelpers
@model PapiroMVC.Models.CustomerSupplier

<div id='customersupplierbase'>
    @Html.Partial("_ListBase", Model)
</div>


@section breadcrumb {

}