@using PapiroMVC.Validation

@{
    string strings = "~/Areas/DataBase/Views/HomeDb/Strings";
    ViewBag.MetaTitle = Html.T(strings, "MetaTitle");
}

<div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
    </button>

    <i class="icon-ok green"></i>
    Benvenuto nell'<b>anagrafica</b> della tua azienda. Usa il menu a fianco per entrare nelle sezioni delle varie anagrafiche.
</div>

<p>
    In <b>Anagrafica</b> puoi aggiungere macchine da stampa Litho/Offset a rotolo e a foglio, macchine da stampa Digitali a rotolo e a foglio, macchine da stampa per supporti rigidi.
</p>
<div class="vspace"></div>
<p>
    Per imparare a compilare correttamente le anagrafiche e i listini prezzi consulta il forum <b>PapiroStar</b> oppure contatta un nosto consulente.
    La compilazione corretta dell'anagrafica del centro stampa e/o della tipografia assicura un uso performante del software <b>PapiroStar</b>.
</p>


@Html.Action("LoginInvite", "Account", new { area = "Account" }).If(!User.Identity.IsAuthenticated)

@section title{
    @Html.T(strings, "DataBase")
}

@section description{
    @Html.T(strings, "Home")
}

@section breadcrumb {

}