@using Mvc.HtmlHelpers
@using MvcContrib.UI.Grid
@using PapiroMVC.Validation

@{
    string strings = "~/Areas/Working/Views/Document/Strings";
    //Prendo il titolo dal menù
    ViewBag.Title = Html.T(strings, "ListDocument");
}

@section title{
    @Html.T(strings, "Products")
}

@section description{
    @Html.T(strings, "ProductsDesc")
}


<div id='productList'>
    @Html.Partial("_ListProduct")
</div>

<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>

@section breadcrumb {

}


@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
}

@section specificPluginScript {
    <script src="~/Content/acetheme/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
}