@using Mvc.HtmlHelpers
@using MvcContrib.UI.Grid
@using PapiroMVC.Validation

<div id='productList'>
    @Html.Partial("_ListProduct")
</div>

<div id='script'>
    @Html.Partial("_ListCommonScript")
</div>

@section footer {
    @Html.Partial("_footer")
}
