<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".
-->
  <connectionStrings>

    <add name="dbEntities"
         connectionString="metadata=res://PapiroMVC//Models.Model1.csdl|res://PapiroMVC/Models.Model1.ssdl|res://PapiroMVC/Models.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.4;User Id=root;pwd=mandrake;database=db&quot;" providerName="System.Data.EntityClient"
                  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="profilesEntities" connectionString="metadata=res://PapiroMVC/Models.Model2.csdl|res://PapiroMVC/Models.Model2.ssdl|res://PapiroMVC/Models.Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.4;user id=root;password=mandrake;persist security info=True;database=profiles&quot;" providerName="System.Data.EntityClient"
                  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="server=192.168.0.4;User Id=root;pwd=mandrake;database=PapiroUsers" providerName="MySql.Data.MySqlClient"
              xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
-->

    <customErrors mode="On" xdt:Transform="Replace">
    </customErrors>
  </system.web>
</configuration>
