@using PapiroMVC.Validation
@model PapiroMVC.Models.ProductPartTask

@{
    string strings = "~/Areas/Working/Views/Product/Strings";

    //we want ot use different resource only to share it between areas and parts
    string stringsCod = "~/Views/Shared/TypeOfTaskAndCodTypeOfTask";

    }

ciao

    @if ((Model.Hidden ==null) || (Model.Hidden!=true)) 
    {
        @Html.Display(Model.OptionTypeOfTask.TypeOfTask.TaskName)
        <div class="editor-field">
            @Html.Display( Html.T(stringsCod, "Cod" + Model.CodOptionTypeOfTask))
        </div>
    }