@using PapiroMVC.Validation
@model PapiroMVC.Models.ProductSingleSheet

@{
    string strings = "~/Areas/Working/Views/Product/Strings";
        
    }

        <!-- parts -->
        @for (int i = 0; i < Model.ProductPartsPerView.Count; i++)
        {
            ViewBag.IndexPart = i;
            @Html.DisplayFor(model => model.ProductPartsPerView[i])           
        }
            
        <!-- ProductTasks -->
        @for (int i = 0; i < Model.ProductTasks.Count; i++)
        {
            @Html.DisplayFor(model => model.ProductTasksPerView[i])           
        }

        <br />                       
<br />

       
    <p>        
        <button type="button" onclick="Javascript:window.location.replace('@Url.Action("Index", "Product", new {Area="Working"})');">            
            <i class ="icon-arrow-left"></i>
            @HttpContext.GetLocalResourceObject(strings, "Cancel")
        </button>

    </p>

