@{
    ViewBag.Title = "Algola Srl: ";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefono</h3>
    </header>
    <p>
        <span class="label">Sede Principale:</span>
        <span>+39 059-8676358</span>
    </p>
    <p>
        <span class="label">Alessandro Degola:</span>
        <span>+39 329-8269589</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Supporto:</span>
        <span><a href="mailto:info@algola.com">info@algola.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:a.degola@algola.com">a.degola@algola.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Indirizzo</h3>
    </header>
    <p>
        Via Gerosa, 180<br />
        Modena, MO 41122
        Italia
    </p>
</section>