@using PapiroMVC.Validation

@section title{
    home page
}

@section description{
    così appare nella home page la descrizione
}

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Text Field </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5">
        </div>

    </div>

    <div class="space-4"></div>
</form>

@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/chosen.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/daterangepicker.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/colorpicker.css" />
}

@section specificPluginScript {
    <script src="~/Content/acetheme/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jquery.ui.touch-punch.min.js"></script>
}


