@using PapiroMVC.Validation

@{
    string strings = "~/Views/Home/Strings";
}

@section title{
    @Html.T(strings, "HomeTitle")
}

@section description{
    @Html.T(strings, "HomeDesc")
}


<div class="span12">

    <div class="span12">


        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>

            <i class="icon-ok green"></i>
            @Html.T(strings, "Advise1")
        </div>

        <p>
            Software gestionale per tipografie e service di stampa offset e digitale completamente cloud. PapiroStar è il gestionale ideato per preventivi, gestione commesse, magazzino per tipografie.
        </p>

        <ol class="round">
            <li class="one">
                <h5>Gestisci il tuo profilo</h5>
                PapiroStar permette di gestire in piena autonomia il proprio profilo,
                impostare i propri dati e modificarli in ogni momento.
                Permette di caricare documenti di vario tipo e condividerli con gli utenti del sistema.
            </li>

            <li class="two">
                <h5>La tua azienda</h5>
                PapiroStar consente di creare senza limiti listini, aggiornare prezzi in piena autonomia.
            </li>

            <li class="three">
                <h5>Crea preventivi</h5>
                PapiroStar rappresenta un ottimo strumento per creare in modo semplice e veloce preventivi per stampa digitale offset e grande formato.
            </li>
        </ol>

    </div>

</div>



    @section specificPlugInStyle {
        <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />

    }

    @section specificPluginScript {
        <script src="~/Content/acetheme/assets/js/jquery-ui.min.js"></script>
        <script src="~/Content/acetheme/assets/js/jquery.ui.touch-punch.min.js"></script>

    }

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")

    }

<script>

    $(function () {
        document.querySelector("#homeSidebar").className = "active open";

    });

</script>
