@using PapiroMVC.Validation

@{
    
    ViewBag.MetaTitle = "Prezzi Gestionale per Tipografie, Litografie, Etichette in rotolo, Stampa Digitale. Il migliore";
     
}

@section title{
    Home Page
}

@section description{
    benvenuto
}

<div class="space-5"></div>

@Html.Partial("_Price")

<div class="span12">
    <div class="space-5"></div>

    @section specificPlugInStyle {
        <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />
        <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.custom.min.css" />
        <link rel="stylesheet" href="~/Content/acetheme/assets/css/chosen.css" />
        <link rel="stylesheet" href="~/Content/acetheme/assets/css/datepicker.css" />
        <link rel="stylesheet" href="~/Content/acetheme/assets/css/bootstrap-timepicker.css" />
        <link rel="stylesheet" href="~/Content/acetheme/assets/css/daterangepicker.css" />
        <link rel="stylesheet" href="~/Content/acetheme/assets/css/colorpicker.css" />
    }

    @section specificPluginScript {
        <script src="~/Content/acetheme/assets/js/jquery-ui-1.10.3.full.min.js"></script>
        <script src="~/Content/acetheme/assets/js/jquery.ui.touch-punch.min.js"></script>
    }

</div>


<span class='st_sharethis_hcount' displaytext='ShareThis'></span>
<span class='st_facebook_hcount' displaytext='Facebook'></span>
<span class='st_twitter_hcount' displaytext='Tweet'></span>
<span class='st_linkedin_hcount' displaytext='LinkedIn'></span>
<span class='st_pinterest_hcount' displaytext='Pinterest'></span>
<span class='st_email_hcount' displaytext='Email'></span>

<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({ publisher: "b7885f9a-6e87-4b09-b610-1c9cf6e7e4f1", doNotHash: true, doNotCopy: true, hashAddressBar: false });</script>
